<!-- home.html -->
{% extends 'base.html' %}

  <div class="header">
          {% block header %}
          <div class="logo-container">
              <img src="{% block logo %}https://i.ibb.co/FXFR9nZ/image.png{% endblock %}" alt="logo">
          </div>
          <div class="header-text">{% block header_text %}KIT: ОФИС{% endblock %}</div>
          <div class="subtext">{% block subtext %}Привет Админ!{% endblock %}</div>
          {% endblock %}
  </div>


    {% block content %}
<div class="container">
    <h1>Меню администратора</h1>
    <div class="menu">
        <button onclick="window.location.href='{% url 'send_message_b24' %}'">Отправка сообщений пользователям</button>
        <button onclick="window.location.href='{% url 'send_result_b24' %}'">Отправка результатов старт</button>
        <button onclick="window.location.href='{% url 'send_result_training_b24' %}'">Отправка результатов тренировка</button>
        <button onclick="window.location.href='{% url 'send_result_kmb_b24' %}'">Отправка результатов КМБ</button>
        <button onclick="window.location.href='{% url 'admin:index' %}'">Переход в админскую панель</button>
        <button onclick="window.location.href='{% url 'home' %}'">Вернуться в меню приложения</button>
    </div>
</div>
{% endblock %}

