<!-- home.html -->
{% extends 'base.html' %}

  <div class="header">
          {% block header %}
          <div class="logo-container">
              <img src="{% block logo %}https://i.ibb.co/FXFR9nZ/image.png{% endblock %}" alt="logo">
          </div>
          <div class="header-text">{% block header_text %}KIT: ОФИС{% endblock %}</div>
          <div class="subtext">{% block subtext %}Выберите режим игры:{% endblock %}</div>
          {% endblock %}
  </div>

{% block content %}
<div class="container">
  <h1>Выбор режима игры</h1>
  <div class="menu">
    <button onclick="window.location.href='{% url 'game' %}'">Режим старт</button>
    <button onclick="window.location.href='{% url 'gametraining' %}'">Режим тренировка</button>
    <button onclick="window.location.href='{% url 'user_results' %}'">Результаты</button>
    <button onclick="window.location.href='{% url 'home' %}'">Вернуться в меню приложения</button>
  </div>
</div>
{% endblock %}

